@import './colorVariables.scss';
@import './pixelVariables.scss';

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    color: $fontColor;
    background-color: $themeColorBackground;

    a{
        color: $fontColor;
        text-decoration: none;
    }

    a:hover{
        color: $themeColor;
    }

    @media screen and (min-width: $transformLimit) {
        .dsk-hid{
            display: none;
        }
        .container{
            padding: 0 5%;
        }
    }

    @media screen and (max-width: $transformLimit) {
        .mob-hid{
            display: none;
        }
        .container{
            padding: 0 10px;
        }
    }
}